.container {
    flex: 1;
    justify-content: flex-end;
}

.btn {
    margin: 20px;
    margin-top: 0;
}

.ite {
    margin-bottom: auto;
}

.cen {
    margin-bottom: 20px;
    align-self: center;
    font-size: 30;
}

.diag {
    margin-left: 30%;
    margin-right: 30%;
}