.container {
    flex: 1;
    justify-content: flex-end;
}

.btn {
    margin: 20px;
    margin-top: 0;
}

.ite {
    margin-bottom: auto;
}

.cen {
    margin-bottom: 20px;
    align-self: center;
    font-size: 30;
}

.diag {
    margin-left: 30%;
    margin-right: 30%;
}

.tinylogo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 30px;
}

.log {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.til {
    font-size: 25px;
    font-family: Poppins_700Bold;
    margin-top: 20px;
    margin-bottom: 20px;
}