.container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.txt {
    font-size: 60px;
}

.inp {
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
}

.btncol {
    margin-top: 20px;
    flex-direction: row;
}

.btn {
    margin-right: 20px;
}

.rc {
    position: absolute;
    right: 20px;
    bottom: 20px;
    flex-direction: row;
    align-items: center;
}