.stu {
    margin: 20px;
}

.cen {
    justify-content: center;
    align-items: center;
}

.ico {
    background-color: transparent;
}

.diag {
    margin-left: 30%;
    margin-right: 30%;
}

.inp {
    margin-bottom: 20px;
}